<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
<!-- for internet explorer/android
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?features=fetch,requestAnimationFrame,Element.prototype.classList,TextDecoder"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/3.18.3/minified.js"></script>
-->
<!-- for jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- for axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>OpenLayers example</title>
  </head>
  <body>
    <h2>My Map</h2>
    <div id="map" class="map"><div id="popup"></div></div>
    <script src="{{ url_for('static', filename='js/main.js') }}" /></script>
    <script src="{{ url_for('static', filename='js/cities.js') }}" /></script>
    <script src="{{ url_for('static', filename='js/popup.js') }}" /></script>
    <script>
        {% for marker in markers %}
            nullIsland = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: [
                        new ol.Feature({
                            geometry: new ol.geom.Point(ol.proj.fromLonLat([ 
                                {{ marker['lat'] }} , 
                                {{ marker['lon'] }} 
                                ])),
                            name: "{{ marker['popup'] }}",
                        })
                    ]
                })
            })
            map.addLayer(
                nullIsland
            );
        {% endfor %}   
    </script>
  </body>
</html>